<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>newwatchtimer (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>newwatchtimer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>watchtimer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52C1D11321E50CB8007C2385</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52C1D12721E50CB8007C2385</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52C1D13221E50CB8007C2385</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52C1D14621E50DA6007C2385</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
